<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SimuladorCliente.Properties.Settings.RedConnectionString"
      connectionString="Data Source=|DataDirectory|\Red.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NoSecurity"  >
          <security mode="None"  />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.0.101:8000/Simulador/service"
          binding="netTcpBinding" bindingConfiguration="NoSecurity"
          contract="EstacionServer" name="TcpBinding" />
    </client>
  </system.serviceModel>
</configuration>