<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EstacionServer" value="12" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8001/Simulador/mex" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="RedesIP.EstacionSOA">
        <endpoint
          address="service"
          binding="netTcpBinding"
          bindingConfiguration="NoSecurity"
          contract="RedesIP.SOA.IContract"
          name="TcpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.0.101:8000/Simulador/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name = "NoSecurity">
          <security mode = "None"/>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
</configuration>